*{
    margin: 0px;
    padding: 0px;
    font-family: "Merriweather", serif;
}

/* Header Section Here */
.navDiv{
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background-image:
    linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
    url('../images/banner_image.png');
    margin: 50px auto;
    border-radius: 16px;
}

.navDivText{
    position: absolute;
    left: 35%;
    top: 25%;
}

.navDivText>h1{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    
    
}
.navDivText>h2{ 
    margin: auto;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
    width: 632px;
}