*{
    margin: 0px;
    padding: 0px;
    font-family: "Merriweather", serif;
}

/* Header Section Here */
.navDiv{
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background-image:
    linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
    url('../images/banner_image.png');
    margin: 50px auto;
    border-radius: 16px;
}

.navDivText{
    position: absolute;
    left: 35%;
    top: 25%;
}

.navDivText>h1{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    
    
}
.navDivText>h2{ 
    margin: auto;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
    width: 632px;
}

/* main First Section here  */

.mainFirstSection{
    width: 1320px;
    height: 735px;
    flex-shrink: 0;
    margin: 100px auto;
    /* background-color: gold;
    padding: 30px; */
}
.mainFirstSection>h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.mainFirstSection>h3{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 48px 0px 16px 0px;
}
.mainFirstSection>h2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
.mainFirstSection>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}