*{
    margin: 0px;
    padding: 0px;
    font-family: "Merriweather", serif;
    
}
body{
    background-color: #F2F2F2;
}

/* Header Section Here */
.navDiv{
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background-image:
    linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
    url('../images/banner_image.png');
    margin: 50px auto;
    border-radius: 16px;
}

.navDivText{
    position: absolute;
    left: 35%;
    top: 25%;
}

.navDivText>h1{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    
    
}
.navDivText>h2{ 
    margin: auto;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
    width: 632px;
}

/* main First Section here  */

.mainFirstSection{
    width: 1320px;
    height: 735px;
    flex-shrink: 0;
    margin: 100px auto;
    /* background-color: gold;
    padding: 30px; */
}
.mainFirstSection>h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.mainFirstSection>h3{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 48px 0px 16px 0px;
}
.mainFirstSection>h2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
.mainFirstSection>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}


/* main Second Section here  */

.mainSecondSection{
    width: 1320px;
    height: 600px;
    /* flex-shrink: 0; */
    background-image:
    linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
    url("../images/vector.png");
    margin: 50px auto;
    border-radius: 16px;
}

.mainSecondSectionText{
    padding: 80px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}


.mainSecondSectionTexts>h2{ 
    width: 642px;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
}
.mainSecondSectionTexts>p{ 
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin: 24px 0px 48px 0px;
}
.mainSecondSectionTexts>button{ 
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgb(255, 0, 0);
    color: white;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.mainSecondSectionTexts>button:hover{
    background-color: black;
    color: white;
}


/* main Third Section here*/


.mainThirdSection{
    padding-top: 120px;
    text-align: center;
    margin: 100px auto;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

/* .mainThirdSectionText{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;

} */
.mainThirdSectionText>h1{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
    align-items: center;
    margin-bottom: 80px;

}
.mainThirdSectionText>h1>span{
    color: #F00
}

.mainThirdSection>button{ 
    
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgb(255, 0, 0);
    color: white;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    
}

.mainThirdSection>button:hover{
    background-color: black;
    color: white;
}